@using Artech.VideoMall.Products.BusinessEntity
@model Movie[]
@{
    ViewBag.Title = "Index";
}
<ul class="products">
    @foreach (Movie movie in this.Model)
    { 
        <li>
            @Html.Partial("Product", movie)
            <div style="clear:both"></div>
        </li>
    }
</ul>
